<% provide(:title, @user.name + "'s ShoppingList") %>
<div class="container-fluid" style="background-color:#e8e8e8">
	<div class="container container-pad" id="property-listings">
    <div class="row">
      <div class="col-sm-8">
        <h1>Shopping History by <%= @user.name%> </h1>
        <h2>All items purchased</h2>
        <% if @list.shopping_cart_items.any? %>
        <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
					<% @list.shopping_cart_items.each do |elem| %>
							<div class="media">
								 <%if elem.aviable == true %>
									<a class="pull-left" href="#" target="_parent">
                       <%= image_tag Article.find(elem.item_id).picture.url,
                       class: "img-responsive",
                         size:"150x150" if Article.find(elem.item_id).picture? %>
                      </a>
										<% end %>
									<div class="clearfix visible-sm"></div>
                  <div class="media-body fnt-smaller">
                  <a href="#" target="_parent"></a>
                  <h3 class="media-heading">
                      <b><%= elem.nome %></b>
                  </h3>
                  <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                      <li>Price:</li>
                    	<li><%= elem.prezzo %></li>
                    </ul>
                  <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                      <li>Quantity:</li>
                      <li><%= elem.quantity %></li>
                    </ul>
									<%if elem.aviable == true %>
                   <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                      <li>Last purchase on </li>
                      <li><%= elem.updated_at %></li>
                    </ul>
                   <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                      <li>
                      <div class='set blue'>
                      <%= link_to "Visit", user_market_article_path(Article.find(elem.item_id).market.user, Article.find(elem.item_id).market,Article.find(elem.item_id)), class: "btn pri ico" %>
                      </div>
                       </li>
                     </ul>
									  <% else %>
										 <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
	                       <li>item removed from U-MK on</li>
	                       <li><%= elem.updated_at %></li>
	                     </ul>
									 <% end %>
									 <hr />
                    </div>
                </div>
						<% end %>
        </div>
        <% else %>
        <h2>You have not bought anything yet!!</h2>
      <% end %>
      </div>
    </div>
  </div>
</div>
