    <!-- carrello form passo
      quantita + articolo_id    verso il controller di SCItems-->
      inizio form
    <% form_for shopping_cart_show_path do |f| %>
      <%= f.label :quantita %>
      <%= f.text_field :quantity ,class: 'form-control'%>
      <div><%= hidden_field_tag :add_article_id, @article.id %></div>
      <div><%= hidden_field_tag :add_market_id, @article.id %></div>
      <%= f.submit "Aggiungi al Carrello" , class: "btn btn-primary"%>
      <% end %>
      fine form
