<div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
    <div class="media">
		<a class="pull-left" href="#" target="_parent">
			<%= image_tag article.picture.url, class: "img-responsive", size:"150x150" if article.picture? %>
		</a>
			
		<div class="clearfix visible-sm"></div>

		<div class="media-body fnt-smaller">
			<a href="#" target="_parent"></a>
			
			<h3 class="media-heading">
				<b><%= article.name %></b>
			</h3>
			
			<small class="pull-right">
				<% if article.status %>Disponibile<% end %>
				<% if !article.status %>Non Disponibile<% end %>
			</small>

			<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
				<li>Prezzo:</li>
				<li><%= article.prezzo %></li>
				<li>Monete</li>
			</ul>

			<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
				<li>
					<div class='set blue'>
					<%= link_to "Visit", user_market_article_path(article.market.user, article.market, article), class: "btn pri ico" %>
					</div>
				</li>
				<% if current_user?(@user) %>
				<li>
					<div class='set black'>
						<%= link_to "Edit", edit_user_market_article_path(article.market.user, article.market, article), class: "btn sec ico" %>
					</div>
				</li>
				<li>
					<div class='set red'>
						<%= link_to "Delete", user_market_article_path(article.market.user, article.market, article), method: :delete,
							  data: { confirm: "You sure?" }, class: "btn pri ico" %>
					</div>
				</li>
				<% end %> 
			</ul>
		
		</div>
	</div>
</div>