<%= simple_form_for ([@user, @market, @market.articles.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name, label_html: { class: 'my_class' } %>
  <%= f.input :prezzo, label_html: { class: 'my_class' }%>
  <%= f.collection_radio_buttons :status, [[true, 'Avalaible'] ,[false, 'Not Avalaible']],
                             :first, :last, { item_wrapper_tag: false } %>
  <%= f.input :description, label_html: { class: 'my_class' } %>
      <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.button :submit %>
<% end %>
