<% provide(:title, @article.name+" di "+@market.name) %>
<div class="container-fluid" style="background-color:#e8e8e8">
	<div class="container container-pad" id="property-listings">
		<div class="row">
			<div class="col-md-4">
				<h1><%= @article.name %></h1>
				<h3><%= @market.name %></h3>

			    <%= image_tag @article.picture.url, size:"250x250" if @article.picture? %>
                <%= render_shareable :buttons=>['google_plus'] %>
				<div class='set blue'>
					<%= link_to "Market", user_market_path(@user, @market), class: "btn sec" %>
				</div>
				
			</div>


			<div class="col-md-8">
				<h3><b>Info:<b></h3>
				<span class="content">
					<h4>Price:</h4> <%= @article.prezzo %></br>
					<h4>Description:</h4> <%= @article.description %></br>
					<h4>Status:</h4> <% if @article.status %>Available<% end %>
					<% if !@article.status %>Not Available<% end %>
				</span>
				<!-- l'utente nn registrato non può aggiungere al carrello se prima nn si è autenticato -->

				<% if logged_in? && current_user.buyer? %>
							<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
								<% if @article.status %>
										<li>
												<div class='set black'>
										<%= link_to "ADD to SCart", edit_user_shopping_cart_shopping_cart_item_path(@current_user,@current_user.shopping_cart_id, @article) ,class: "btn val1 ico" %>
												</div>
											</li>
									<% end %>
							 </ul>
							 <% end %>
				<% if !logged_in? %>
							<h5>------------------------------------</h5>
							<h4>registrati o effettua il login</h4>
							<h4>per commentare o comprare l'articolo</h4>
							<h5>------------------------------------</h5>
				<%end %>
				
			</div>
		</div>

		<br></br>
		
		<div class="row">
			<div class="col-md-6">
				<% if logged_in? && current_user.buyer? %>
					 	<section class="micropost_form">
						 	<%= render 'shared/review_form' %>
					 	</section>
				<% end %>			
				
			</div>
		</div>
		
		<br></br>

				
		<div class="container">
			<div class="my">
				<h1 class="text-center">Reviews:</h1>
					<div class="list-group">
						  
					<% Review.all.each do |f| %>
						<% if f.article_id == @article.id %>
							<% @elem = f %>
							<% @usRev  = User.find(@elem.user_id) %>
								<ol class="microposts">
										<%= render @elem %>
								</ol>
						<% end %>
					<% end %>
				
					</div>
			</div>
		</div>		

	</div>
</div>