<% provide(:title, 'All users') %>

<% if current_user.admin? %>
    <h1>All users</h1>

    <%= will_paginate %>

    <ul class="users">
        <% @users.each do |user| %>
            <%= render user %>
        <% end %>
    </ul>

    <%= will_paginate %>
<% else %>
    <h1>All vendors</h1>
    <%= will_paginate @vendors, :param_name => :vendors_page %>

    <ul class="users">
        <%= render @vendors %>
    </ul>

<% end %>
