<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
		<%= @user.role %>
      </h1>
    </section>
    <% if current_user.vendor? %>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
    <% end %>
    <% if current_user?(@user) && current_user.vendor? %>
        <%= link_to "Crea negozio", new_user_market_path(@user), class: "btn btn-info" %>
        <% end %>
    <% if logged_in? && current_user?(@user) && !current_user.admin? %>
     <%= link_to "Delete me from U-MK", @user, class: 'btn btn-danger', method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
    <% if current_user?(@user) && current_user.vendor? %>
        <section class="description_form">
            <%= render 'description_form' %>
        </section>
    <% end %>

  </aside>


  <div class="col-md-8">
    <p> <mark><%= @user.description %></mark> </p>
    <% if logged_in? && current_user.vendor? %>
        <%= render 'follow_form' if logged_in? %>
    <% end %>
    <% unless current_user?(@user) || current_user.buyer?%>
        <%= link_to 'Send message', new_conversation_path(to: @user), class: "btn btn-default btn-block" %>
    <% end %>



    <% if @user.markets.any? %>
      <h3>Negozi (<%= @user.markets.count %>)</h3>
      <ol class="markets">
        <%= render @markets %>
      </ol>
      <%= will_paginate @markets, :param_name => :market_page %>
    <% end %>

    <% if current_user.vendor? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts, :param_name => :micropost_page%>
        <% end %>
    <% end %>

    <% if logged_in? && current_user.buyer? && current_user?(@user) %>
     <h3>Budget: <%= @user.budget %></h3>
     <%= button_to 'Ricarica credito', addbudget_user_path(@user), :method => :get, class: "btn btn-default btn-block" %>
    <% end %>


  </div>



</div>

