<h1>ShoppingCart</h1>
proprietario=> <%= @user.name %>  <br />
id =>  <%= @user.id %> <br />
<% if @cart.shopping_cart_items.any?  %>
  <% @cart.shopping_cart_items.each do |elem|   %>
    <!-- ogni elem è solo riferim -->
    <h2> numero del riferimento(scItem) <%= elem.id %></h2><br/>
    <h4>articolo_id <%= Article.find(elem.item_id) %></h4><br />
    <h4>nome dell'articolo <%= Article.find(elem.item_id).name %></h4><br />
    <h4> quantita <%= elem.quantity %></h4><br/>
    <% end %>
  <% else %>
  <h1>NO articoli!!</h1>
  <% end %>
