<% provide(:title, @market.name+" di "+@user.name) %>
<div class="container-fluid" style="background-color:#e8e8e8">
	<div class="container container-pad" id="property-listings">
		<div class="row">
			<div class="col-md-4">
				<h1><%= @market.name %></h1>
				<h3><%= @market.user.name %></h3>

                <button "btn btn-success"
                    data-contenturl="<%= user_market_url%>"
                    data-contentdeeplinkid="/pages"
                    data-clientid="314782486444-f69pq2qh6csups5shd70811377tmes8g.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-prefilltext="Engage your users today, create a Google+ page for your business."
                    data-calltoactionlabel="CREATE"
                    data-calltoactionurl="http://plus.google.com/pages/create"
                    data-calltoactiondeeplinkid="/pages/create">
                    Tell your friends
                </button>

				<% if logged_in? && current_user.vendor? %>
					<div class='set blue'>
						<%= link_to "Owner", @user, class: "btn sec" %>
						<span class="user">
							<% if current_user?(@user) %>
								<ul>
								<li><div class='set black'><%= link_to "Edit market", edit_user_market_path(@user, @market) , class: "btn sec ico"%></div></li>
								<li><div class='set red'><%= link_to "Destroy market", user_market_url, method: :delete,
								data: { confirm: "You sure?" },class: "btn pri ico" %></li>
								</ul>
							<% end %>
						</span>
					</div>
				<% end %>

				<%= render 'followmarkets/follow_form' if logged_in? && current_user.buyer? %>

			</div>

			<div class="col-md-4"></div>

			<div class="col-md-4">
				<h3>Info:</h3>
				<span class="content">
					<%= @market.tipo %></br>
					<%= @market.nation %></br>
					<%= @market.city %>
				</span>
			</div>
		</div>

		<h3>Market's articles:</h3>

		<div class="row">
			<div class="col-sm-8">

				<% if @articles.any? %>
						<%= render @articles %>
					<%= will_paginate @articles %>
				<% end %>

			</div>
		</div>

	<% if current_user?(@user) && current_user.vendor? %>
		<div class='set green'>
			<%= link_to "Create article", new_user_market_article_path(@user, @market), class: "btn pri ico" %>
		</div>
	<% end %>

	</div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
