<% provide(:title, @market.name+" di "+@user.name) %>
<div class="container-fluid" style="background-color:#e8e8e8">
	<div class="container container-pad" id="property-listings">
		<div class="row">
			<div class="col-md-4">
				<h1><%= @market.name %></h1>
				<h3><%= @market.user.name %></h3>
				<%= render_shareable :buttons=>['google_plus'] %>
				<% if logged_in? && current_user.vendor? %>
					<div class='set blue'>
						<%= link_to "Bacheca Venditore", @user, class: "btn sec" %>
						<span class="user">
							<% if current_user?(@user) %>
								<ul>
								<li><%= link_to "Modifica negozio", edit_user_market_path(@user, @market) %></li>
								<li><%= link_to "Distruggi negozio", user_market_url, method: :delete,
								data: { confirm: "You sure?" } %></li>
								</ul>
							<% end %>
						</span>
					</div>
				<% end %>

				<%= render 'followmarkets/follow_form' if logged_in? && current_user.buyer? %>

			</div>

			<div class="col-md-4"></div>

			<div class="col-md-4">
				<h3>Info:</h3>
				<span class="content">
					<%= @market.tipo %></br>
					<%= @market.nation %></br>
					<%= @market.city %>
				</span>
			</div>
		</div>

		<h3>Articoli del negozio:</h3>

		<div class="row">
			<div class="col-sm-8">

				<% if @articles.any? %>
						<%= render @articles %>
					<%= will_paginate @articles %>
				<% end %>

			</div>
		</div>

	<% if current_user?(@user) && current_user.vendor? %>
		<div class='set green'>
			<%= link_to "Crea articolo", new_user_market_article_path(@user, @market), class: "btn pri ico" %>
		</div>
	<% end %>

	</div>
</div>
